  <div class="home-header">
    <div class="home-header-background">
    </div>
    <div class="container-headline">
      <h1 class="headline">Créer du lien entre Nature et Humains</h1>
    </div>
  </div>
<div class="container">
    <%= render 'shared/intro' %>
    <%= render 'shared/animations' %>
    <%= render 'shared/products' %>

</div>

