.round-img img{
  border-radius: 50%;
  width: 240px;
  height: 240px;
  object-fit: cover;
  border: 1px solid $or-taa;
}

.round-img {
  margin: auto;
  text-align: center;
}

.thumbnail-card {
  background: transparent;
  border: none;
}

.thumbnail-card .card-title {
  text-align: center;
}
