.round-img img{
  border-radius: 50%;
  width: 240px;
  height: 240px;
  filter: grayscale(1);
}

.round-img {
  margin: auto;
  text-align: center;
}

.thumbnail-card {
  background: transparent;
  border: none;
}

.thumbnail-card .card-title {
  text-align: center;
}
