.golden-box {
  background-color: rgba(255, 198, 90, 0.2);
  padding: 24px;
}

.golden-box h2 {
  font-weight: 700;
}

.margin-left {
  margin-left: 8px;
}

.white-bgd {
  background-color: white;
  opacity: 0.7;
  margin: 2px;
}

.golden-box.label {
  padding-top: 4px;
}

.golden-box.row {
  padding: 2px;
}
