a {
  color: $or-taa;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: $or-taa;
  font-family: $headers-font;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}
