.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top:0;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 80px;
}
