h1 {
  font-weight: 700;
  margin-top: 20px;
  font-size: 3.0rem;
}

.headline {
  font-size: 6em;
  color: #000;
  margin: auto;
  background-color: #fff;
  padding: 8px;
}

.home-h2 {
  font-weight: 700;
  margin-top: 25px;
}

.golden-background {
  display: block;
  width: 100%;
  background-color: $or-taa;
  color: #fff;
  padding: 8px;
  margin-top: 0px;
}
